{{ 'carousel.css' | asset_url | stylesheet_tag }}

{% style %}
  .color {
    border-color: {{ section.settings.border_color}}
    ;
  }
  .dot__navigator.current-slide {
    background-color: {{ section.settings.background_color}}
    ;
  }
  .border__color {
    border-color: {{ section.settings.border_color}}
    ;
  }
{% endstyle %}

<div class="page-width page-width-desktop">
  <div class="carousel">
    <button id="previous-button" class="carousel__button prev__btn border__color is-hidden"></button>
    <button id="next-button" class="carousel__button next__btn border__color"></button>
    <div class="carousel__track__container">
      <ul id="carousel-track" class="carousel__track">
        {% for block in section.blocks %}
          {% assign slide = block.settings %}
          <li id="slide" class="carousel__slide{% if forloop.index0 == 0 %} current-slide {%endif%}">
            <img
              src="{% if slide.image == blank %} https://images.unsplash.com/photo-1560707303-4e980ce876ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80 {% else %}{{slide.image | image_url }}  {% endif %}"
              alt="{{slide.alt_text}}"
              class="carousel_image" />
          </li>
        {% endfor %}
      </ul>
    </div>
    <div id="carousel-dots" class="carousel__dots">
      {% for block in section.blocks %}
        <button class="dot__navigator color {% if forloop.index0 == 0 %} current-slide {% endif %}"></button>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{{'carousel.js' | asset_url}}" defer />

{% schema %}
  {
    "name": "Carousel Slider",
    "tag": "section",
    "class": "carousel-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "color",
        "label": "Dot or Chevron Border Color",
        "id": "border_color",
        "default": "#fff"
      }, {
        "type": "color",
        "label": "Dot Background Color",
        "id": "background_color",
        "default": "#fff"
      }
    ],
    "blocks": [
      {
        "type": "carousel-slider",
        "name": "Image Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image Slide"
          }, {
            "type": "text",
            "id": "alt_text",
            "label": "Alt Text",
            "default": "image for slide"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Carousel Section"
      }
    ]
  }
{% endschema %}